* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: navy;
    color: white;
    text-align: center;
}

main {
    position: relative;
}

.search-box {
    background-color: lightgray;
    padding: 3px 3px;
    height: 40vh;
    margin-left: 2%;
    padding: 2%;
}

.current-weather{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 40vh;
    left: 25px;
    position: relative;
}

.city-name {
    display: inline;
}

.forecast-box {
    margin: 5px
}

.forecast {
background-color: blue;
color: white;
padding: 5px;
margin: 5px;
left: 25px;
}

.low {
background-color: green;
color: white;
}

.moderate {
background-color: yellow;
}

.high {
background-color: red;
color: white;
}